<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.caustudy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cau"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cau"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StudyMenuActivity"></activity>
        <activity android:name=".StudyDetailActivity" />
        <activity
            android:name=".MakeStudyActivity"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity android:name=".FindPW_Activity" />
        <activity android:name=".jesnk.PostActivity" />
        <activity android:name=".jesnk.JMainActivity" />
        <activity android:name=".SignInActivity" />
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>